.use-container { 
    position: relative;
}
.btn-newuser {
    position: absolute;
    right: 20px;
    top: 80px;

}

.user-table {
    display: flex;
    margin-top: 10px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    flex: 1;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btn-icon {
    background-color: transparent;
    outline: none;
    border: transparent;
    margin-right: 8px;
}

.icon-btn-edit {
    color: goldenrod;
}

.icon-btn-delete { 
    color: red;
}


// Modal User
.modal-user {

}


.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.modal-btn {
    width: 100px;
    height: 42px;
}

